<nav id="idiomas">

{% set actual1=app.request.get('_locale') %}
{% if actual1=='es' %}
{% set actual='ca' %}
{% elseif actual1=='ca'%}
{% set actual='es' %}
{% endif %}



<a href="{{ path('cambio_idioma',{'newlang':actual })}}">cambio de idioma</a>
</nav>
