<nav id="principal">
	{% if donde=='home' |lower %}
	<div class="capsula  ">Home</div>
	{% else %}
	<a href="" class="capsula atras">Home</a>
	{% endif %}
	{% for m in resultado %}
	{% if donde==m.nom |lower %}
	<div class="capsula">{{ m.nom }}</div>
	{% else %}
	<a href="{{ path('gestor_listar',{'entidad':m.nom|lower,'pagina':1 })}}" class="capsula atras">{{ m.nom }}</a>
	{% endif %}
	{% endfor %}
</nav>
