/*
 * Footer
 * */

footer {
	clear:both; 
	float:left; 
	width:100%; 
	text-align:center;
	padding-top:15px; 
	padding-bottom:25px; 
	background-color:#EAEBED;
	font-size:13px; 
	color:#999999 }

/*
 * Body
 * */
section#col_una {
	clear:both;
	float:left;
	padding:15px;
	width:100% }		

h1 {
	font-size:15px;
	color:#666666}

/*
 * Botones
 * */
 
.bo_orden {
	background-repeat:no-repeat;
	width:22px;
	height:22px;
	display:block;
	margin:3px;
	opacity:0.4; filter:alpha(opacity=40);
	} 
.bo_orden:hover {
	opacity:1.0; filter:alpha(opacity=100);
	}
 
.ASC {
	background-image:url(../images/orden_asc.png);}
	
.DESC {
	background-image:url(../images/orden_desc.png);}	
