{% extends '::Backend.html.twig' %}
{% block contenidos %}
<section id="col_una">
<h1>Home</h1>

{% for ent in entidades %}
{{ ent.entidad }} => {{ ent.Nreg }}
{% endfor %}


</section>
{% endblock %}
